.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff80;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  z-index: 999;
}

.modalContent {
  font-family: 'Inter Tight', sans-serif;
  background-color: white;
  padding: 2rem;
  width: 400px;
  max-width: 90%; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.modalTitle{
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.taskInputTitle {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
}

.taskInput {
  width: 100%;
  padding: 13px;
  margin-bottom: 1rem;
  border: 1px solid #D7DDE9;
  border-radius: 8px;
  font-size: 17px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
}

.taskInput::placeholder {
  font-family: 'Inter Tight', sans-serif;
}

.taskInput:focus {
  outline: 0;
  border-color: #00d4ff;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

.addButton, .closeButton {
  font-family: 'Inter Tight', sans-serif;
  width: 48%;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
}

.addButton {
  background: linear-gradient(275deg, #0099ff, #00d4ff);
  color: #fff;
  border: none;
}

.closeButton {
  background: #f5f5f5;
  color: #000;
  border: none;
}

@media (max-width: 768px) {
  .modalContent {
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    display: block;
    flex-direction: column;
    align-items: right; 
  }

  .taskInput {
    font-size: 16px;
    width: 272px;
    height: 51px;
  }

  .addButton, .closeButton {
    font-size: 15px;
    padding: 20px 0;
    margin-bottom: 1rem;
    width: 80%;
    font-size: 18px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
